<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Category</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                        <div class="pull-right" style="margin-top:-28px;">
                            <a href="#profile" data-toggle="tab">
                                <!-- <i class="material-icons">playlist_add</i> -->
                                <i class="material-icons" rel="tooltip" title="Create User" (click)="createCategory();">add_circle</i>
                                <div class="ripple-container"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <!-- <th>
                                      City
                                  </th> -->
                                    <th>
                                        Created At
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of categoryData">
                                        <td>
                                            {{data.id }}
                                        </td>
                                        <td>
                                            {{data.name }}
                                        </td>
                                        <td>
                                            {{data.description }}
                                        </td>
                                        <!-- <td>
                                          {{data.place }}
                                      </td> -->
                                        <td class="text-primary">
                                            {{data.createdAt }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="create" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                  <span aria-hidden="true">&times;</span>
              </button>
                <h4 class="modal-title" style="font-weight: bold">Create Category</h4>
            </div>
            <div class="modal-body">
                <form #userFormcreate="ngForm" (ngSubmit)="getFormData(userFormcreate);">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputName" class="label-control">Name</label>
                                <input type="text" style="text-transform:uppercase" class="form-control" id="name" required pattern="[a-zA-Z][a-zA-Z ]+" name="name" #name="ngModel" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputName" class="label-control">Description</label>
                                <input type="text" class="form-control" id="description" name="description" #description="ngModel" ngModel required>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputName" class="label-control">Created At</label>
                                <input type="text" class="form-control" id="uemai" name="uemai" #uemai="ngModel" ngModel required name="uemai" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #uemai="ngModel">
                            </div>
                        </div> -->
                    </div>
                    <div style="text-align: right;">
                        <button type="submit" class="btn btn-primary" [disabled]="!userFormcreate.form.valid">Submit</button>
                        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>