<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <h5 id="bolder" class="card-title">&#8377;800
                                <del>&#8377;1200 </del>
                                <!-- <small>20% Off</small> -->
                            </h5>
                            <!-- <img src="../../assets/img/art.jpg" alt=""> -->
                            <!-- <i class="material-icons">content_copy</i> -->
                        </div>
                        <p id="bolder" class="card-category">Emboj Saree</p>
                        <!-- <h5 class="card-title">49/50
                            <small>GB</small>
                        </h5> -->
                        <div id="image">
                            <img src="../../assets/img/art.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a> -->
                            <h5 class="card-title">Art Silk Fancy Sarees (Maharashtra-Kerela-Kolkatta)
                                <small>GB</small>
                            </h5>
                        </div>
                        <div class="add-to-cart">
                            <span>Cart</span><br>
                            <span (click)="buyNow()">Buy</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <h5 id="bolder" class="card-title">&#8377;800
                                <del>&#8377;1200 </del>
                                <!-- <small>20% Off</small> -->
                            </h5>
                            <!-- <img src="../../assets/img/art.jpg" alt=""> -->
                            <!-- <i class="material-icons">content_copy</i> -->
                        </div>
                        <p id="bolder" class="card-category">Emboj Saree</p>
                        <!-- <h5 class="card-title">49/50
                                <small>GB</small>
                            </h5> -->
                        <div id="image">
                            <img src="../../assets/img/art.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i>
                                <a href="javascript:void(0)">Get More Space...</a> -->
                            <h5 class="card-title">Art Silk Fancy Sarees (Maharashtra-Kerela-Kolkatta)
                                <small>GB</small>
                            </h5>
                        </div>
                        <div class="add-to-cart">
                            Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <h5 id="bolder" class="card-title">&#8377;800
                                <del>&#8377;1200 </del>
                                <!-- <small>20% Off</small> -->
                            </h5>
                            <!-- <img src="../../assets/img/art.jpg" alt=""> -->
                            <!-- <i class="material-icons">content_copy</i> -->
                        </div>
                        <p id="bolder" class="card-category">Emboj Saree</p>
                        <!-- <h5 class="card-title">49/50
                                    <small>GB</small>
                                </h5> -->
                        <div id="image">
                            <img src="../../assets/img/art.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i>
                                    <a href="javascript:void(0)">Get More Space...</a> -->
                            <h5 class="card-title">Art Silk Fancy Sarees (Maharashtra-Kerela-Kolkatta)
                                <small>GB</small>
                            </h5>
                        </div>
                        <div class="add-to-cart">
                            Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <h5 id="bolder" class="card-title">&#8377;800
                                <del>&#8377;1200 </del>
                                <!-- <small>20% Off</small> -->
                            </h5>
                            <!-- <img src="../../assets/img/art.jpg" alt=""> -->
                            <!-- <i class="material-icons">content_copy</i> -->
                        </div>
                        <p id="bolder" class="card-category">Emboj Saree</p>
                        <!-- <h5 class="card-title">49/50
                                        <small>GB</small>
                                    </h5> -->
                        <div id="image">
                            <img src="../../assets/img/art.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i>
                                        <a href="javascript:void(0)">Get More Space...</a> -->
                            <h5 class="card-title">Art Silk Fancy Sarees (Maharashtra-Kerela-Kolkatta)
                                <small>GB</small>
                            </h5>
                        </div>
                        <div class="add-to-cart">
                            Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <h5 id="bolder" class="card-title">&#8377;800
                                <del>&#8377;1200 </del>
                                <!-- <small>20% Off</small> -->
                            </h5>
                            <!-- <img src="../../assets/img/art.jpg" alt=""> -->
                            <!-- <i class="material-icons">content_copy</i> -->
                        </div>
                        <p id="bolder" class="card-category">Emboj Saree</p>
                        <!-- <h5 class="card-title">49/50
                                            <small>GB</small>
                                        </h5> -->
                        <div id="image">
                            <img src="../../assets/img/art.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i>
                                            <a href="javascript:void(0)">Get More Space...</a> -->
                            <h5 class="card-title">Art Silk Fancy Sarees (Maharashtra-Kerela-Kolkatta)
                                <small>GB</small>
                            </h5>
                        </div>
                        <div class="add-to-cart">
                            Cart
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>